body {
    position: relative;
}
.conteiner {
    width: fit-content;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.button-list {
    display: inline-block;
    background: none;
    border-radius: 50%;
    border: 2px solid var(--c2);
    padding: 8px 12px;
}

.form-column {
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.form-campo {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-bottom: 2rem;
}

.form-campo:last-child {
    margin-bottom: 0px;
}

.input-form {
    outline: 0;
    cursor: pointer;
    padding: .8rem;
    font-size: 1.2rem;
    letter-spacing: 0;
    border-radius: 10px;
    border: 2px solid var(--c2);
    width:calc(100% - 2rem);
}

.input-form::placeholder {
    color: var(--c1);
}

.input-form:hover,
.input-form:focus {
    border-color: var(--b2);
}

.navigation {
    display: none;
    justify-content: space-between;
    align-items: center;
    grid-column: 2;
    position: absolute;
    bottom: 30px;

    padding-left: 2rem;
    box-sizing: border-box;
}
.back {
    cursor: pointer;
    background: none;
    border: none;
    text-transform: capitalize;
}

.back:hover {
    color: var(--b1);
}

.form-submit {
    display: inline-block;
    border:none;
    border-radius: 10px;
    background-color: var(--b1);
    color: var(--c5);
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .5px;
    padding: 15px 25px;
    cursor: pointer;
    margin-left: auto;
}

.form-submit:hover {
    background-color: var(--b3);
}

.grid-main {
    background-color: var(--c5);
    display: grid;
    grid-template-columns: 300px max-content;
    gap: 5rem;
    border-radius: 10px;
    padding: 20px 100px 20px 20px;
    box-shadow: 2px 1px 15px 1px var(--c2);
    position: relative;
}


.tool-bar {
    background-image: url(/images/bg/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
    height: 600px;
}


.option {
    gap: 1rem;
    margin-bottom: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.option-content {
    gap: .2rem;
    display: flex;
    flex-direction: column;

}

.bg-page-list {
    background-color: var(--b4);
}

.none {
    display: none !important;
}


