.conteiner {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.button-list {
    display: inline-block;
    background: none;
    border-radius: 50%;
    border: 2px solid var(--c2);
    padding: 8px 12px;
}

.form-column {
    position: relative;
    box-sizing: border-box;
    height: calc(600px - 100px);
    width: 550px;
}

.form-campo {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-bottom: 2rem;
}

.input-form {
    outline: 0;
    cursor: pointer;
    padding: .8rem;
    font-size: 1.2rem;
    letter-spacing: 0;
    border-radius: 10px;
    border: 2px solid var(--c2);
}

.input-form::placeholder {
    color: var(--c1);
}

.input-form:hover,
.input-form:focus {
    border-color: var(--b2);
}

.navigation {
    bottom: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    cursor: pointer;
    background: none;
    border: none;
    text-transform: capitalize;
}

.back:hover {
    color: var(--b1);
}

.form-submit {
    display: inline-block;
    border:none;
    border-radius: 10px;
    background-color: var(--b1);
    color: var(--c5);
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .5px;
    padding: 15px 25px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--b3);
}

.grid-main {
    background-color: var(--c5);
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 5rem;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 1px 15px 1px var(--c2);
}


.tool-bar {
    background-image: url(/images/bg/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
    height: 600px;
}


.option {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 12px;
}

.option-content {
    gap: .2rem;
    display: flex;
    flex-direction: column;

}
